<div class="sidebar-left"> <!-- Left sidebar content here -->
        <div class="new-releases">
            <h2 class="bg-rose-500 font-bold rounded-lg ">NEW RELEASES</h2>
        </div>
           <div class="movie-posters-recent"></div>
    </div>
<div class="sidebar-right">
          <div class="new-releases">
                 <h2 class="bg-rose-500 font-bold rounded-lg">TRENDING</h2>
           </div>
           <div class="movie-posters-trend"></div>
    </div>
    <div class="ReelRoster">
        <div class="wrapper">
            <div class="below-header">
                <div class="Home button">
                    <a href="/" class="mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Home</a>
                </div>
                <div class="My Roster">
                    <a href="/roster" class=" mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">My Roster</a>
                </div>
                 <div class="header-button">
                        <a href="/login" class="header-button mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Sign Up/Login</a>
                    </div>
                <div class="search-bar-container">
                    <form class="max-w-md mx-auto">   
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-rose-500 focus:border-rose-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-rose-500 dark:focus:border-rose-500" placeholder="Search Movies, Creators..." required />
                            <button type="submit" class="text-black absolute end-2.5 bottom-2.5 bg-rose-500 hover:bg-rose-200 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-rose-500 dark:hover:bg-rose-200 dark:focus:ring-rose-200">Search</button>
                        </div>
                    </form>
                </div>
                <div class="mobile-container">
                    <div class="header-button-mobile">
                        <a href="/login" class="mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Sign Up/Login</a>
                    </div>
            </div> <!-- idk why but deleting this messes up the below-header class -->
            
           </div>  <!-- idk why but deleting this messes up the below-header class -->
            <div class="content"> 
                    <div class="profile">
                        <img  src="/images/drake.jpg" alt="Drake">
                    </div>
                    <div class="movie-posters">
                        <img class="movie-poster" src="/images/dune.jpg" alt="Movie Poster 1">
                        <img class="movie-poster" src="/images/dune_2.jpg" alt="Movie Poster 2">
                        <img class="movie-poster" src="/images/space_jam.jpg" alt="Movie Poster 3">
                    </div>
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus doloremque architecto itaque nesciunt sint sit dolor, quod cum voluptatem provident? Cum tempore aut exercitationem corrupti dolorem aspernatur nobis aliquam obcaecati. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsa, impedit ratione voluptate tenetur dolores nobis iste libero beatae quam earum dolorum blanditiis fuga quas voluptatem, est ad doloribus necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quibusdam nemo. In, quod blanditiis? Odio laudantium quos inventore reprehenderit consequuntur sed debitis at reiciendis? Ipsam ducimus iste quas nesciunt commodi!</p>
                </div>
            <div class="content"> 
                <div class="profile">
                    <img  src="/images/drake.jpg" alt="Drake">
                </div>
                <div class="movie-posters">
                    <img class="movie-poster" src="/images/dune.jpg" alt="Movie Poster 1">
                    <img class="movie-poster" src="/images/dune_2.jpg" alt="Movie Poster 2">
                    <img class="movie-poster" src="/images/space_jam.jpg" alt="Movie Poster 3">
                </div>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus doloremque architecto itaque nesciunt sint sit dolor, quod cum voluptatem provident? Cum tempore aut exercitationem corrupti dolorem aspernatur nobis aliquam obcaecati. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsa, impedit ratione voluptate tenetur dolores nobis iste libero beatae quam earum dolorum blanditiis fuga quas voluptatem, est ad doloribus necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quibusdam nemo. In, quod blanditiis? Odio laudantium quos inventore reprehenderit consequuntur sed debitis at reiciendis? Ipsam ducimus iste quas nesciunt commodi!</p>
            </div>
            <div class="content"> 
                <div class="profile">
                    <img  src="/images/drake.jpg" alt="Drake">
                </div>
                <div class="movie-posters">
                    <img class="movie-poster" src="/images/dune.jpg" alt="Movie Poster 1">
                    <img class="movie-poster" src="/images/dune_2.jpg" alt="Movie Poster 2">
                    <img class="movie-poster" src="/images/space_jam.jpg" alt="Movie Poster 3">
                </div>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus doloremque architecto itaque nesciunt sint sit dolor, quod cum voluptatem provident? Cum tempore aut exercitationem corrupti dolorem aspernatur nobis aliquam obcaecati. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non ipsa, impedit ratione voluptate tenetur dolores nobis iste libero beatae quam earum dolorum blanditiis fuga quas voluptatem, est ad doloribus necessitatibus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quibusdam nemo. In, quod blanditiis? Odio laudantium quos inventore reprehenderit consequuntur sed debitis at reiciendis? Ipsam ducimus iste quas nesciunt commodi!</p>
            </div>
    </div>\
    <script src="/js/movie-recent.js"></script>