<script id="movie-poster-template" type="text/x-handlebars-template">
    {{#each movies}}
    <div class="movie-poster-container">
        <img src="{{posterUrl}}" alt="{{title}}">
    </div>
    {{/each}}
</script>