:root{
    --darkGray: #231c1d;
    --brightRed: #e75250;
    --pink:  #f6c3c3;
    --gray: #6f6769;
}
.bg-darkGray{
    background-color: var(--darkGray);
}
.bg-brightRed{
    background-color: var(--brightRed);
}
.bg-pink{
    background-color: var(--pink);
}

body {
    position: relative;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    padding-bottom: 25px; /* so the last content doesnt hit the edges */
}
.sidebar-left, .sidebar-right {
    position: absolute;
    top: 182px;
    height: 91%; /* Adjust the height as needed */
    width: 400px; /* Adjust the width as needed */
    background-color: rgb(246, 195, 195); /* Adjust the background color as needed */
    filter: brightness(75%);
}

.sidebar-left {
    left: 0;
}
.new-releases {
    padding: 10px;
    z-index: 1000; /* Ensure it's above other content */
    text-align: center; /* Center the content horizontally */
    margin: auto; /* Center the content within its container */
    width: 60%; /* Adjust the width of the section */
    max-width: 600px; /* Set a maximum width to prevent it from stretching too much */
    border-radius: 25px;
}
.new-releases h2 {
    font-size: 28px; /* Increase the font size of the heading */
}

.sidebar-right {
    right: 0;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* this took too long and its still not centered */
.header-image{
    display: flex;
    margin-left: auto;
}
.header-button {
   display: flex;
   align-self: flex-end;
   margin-bottom: auto;
    margin-top: auto;
}
.below-header{
    display: flex;
    align-items: center;
    background-color: rgb(161, 139, 139);
}
.mobile-container {
    display: none; /* Initially hidden */
}
/* tried to make the buttons space from left to right */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 30px; /* Can adjust to make it looks nicer, tried to make the search longer  */
    z-index: 999; /* this makes the search bar present for mobile */
}

.search-bar-container input[type="search"] {
    width: calc(100% - 100px); /* adjust the width  */
}

.search-bar-container button[type="submit"] {
    width: 75px; /* adjust the width  */
}
.content{
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
    border-color: #333;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding-left: 75px;
    border-radius: 15px;
}
/* also do not know how to make the profile crop propperly */
.profile{
    position: absolute;
    top: 5px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 25px; 
    overflow: hidden;
    border-radius: 9999px;
}
.profile img{
    width: 100%;
    height: auto;
}
/* ngl these are really huge but i do not know how to safe the quality as well as making it smaller */
.movie-posters-recent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with three columns */
    grid-gap: 20px; /* Adds gap between grid items */
    height: 300px; /* Set a fixed height for the movie poster container */
}
.movie-posters-trend {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with three columns */
    grid-gap: 20px; /* Adds gap between grid items */
    height: 300px; /* Set a fixed height for the movie poster container */
}
.movie-posters {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create a grid with three columns */
    grid-gap: 20px; /* Adds gap between grid items */
    height: 300px; /* Set a fixed height for the movie poster container */
}
.movie-title{
    display: flex;
    justify-content: center;
    align-self: center;
}
.movie-poster {
    width: 100%; /* Ensure the image fills its container */
    height: 80%; /* Ensure the image fills its container */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 15px;
    padding: 1px;
}
.bg-color{
     background-color: rgb(35,28,29); /* Matching for the logo */
}
.bg-zinc-700{
    background-color: rgb(63 63 70);
}
@media only screen and (max-width: 600px) {
    body{
        margin:0;
        padding:0;
        padding-bottom: 75px; /* increased cause mobile yk */
    }
    .search-bar-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(63 63 70); /* Idk if you want different bg color for the search */
        padding: 10px; 
    }
    .Home.button,
    .My.Roster,
    .sidebar-left,
    .sidebar-right {
        display: none;
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .mobile-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .below-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
 /* ik its not centered but this was annoying to do */
    .header-image {
        margin-bottom: 10px;
        width: 100%; 
        max-width: 300px; 
        margin: auto; 
    }

    .header-button {
        display: none; /* Hide the desktop button in the header */
    }
/* only shows on mobile */
    .header-button-mobile { 
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }
}