.header-content {
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* this took too long and its still not centered */
.header-image{
    display: flex;
    margin-left: auto;
}
.header-button {
   display: flex;
   align-self: flex-end;
   margin-left: auto;
   margin-bottom: 2px;
}
.below-header{
    display: flex;
    align-items: center;
    background-color: rgb(161, 139, 139);
}
.mobile-container {
    display: none; /* Initially hidden */
}
/* tried to make the buttons space from left to right */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: 30px; /* Can adjust to make it looks nicer, tried to make the search longer  */
}

.search-bar-container input[type="search"] {
    width: calc(100% - 100px); /* adjust the width  */
}

.search-bar-container button[type="submit"] {
    width: 75px; /* adjust the width  */
}
.bg-color{
     background-color: rgb(35,28,29); /* Matching for the logo */
}
.bg-zinc-700{
    background-color: rgb(63 63 70);
}
@media only screen and (max-width: 600px) {
    .search-bar-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(63 63 70); /* Idk if you want different bg color for the search */
        padding: 10px; 
        box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1); /* Up to yall to keep it */
    }
    .Home.button,
    .My.Roster {
        display: none;
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .mobile-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .below-header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
 /* ik its not centered but this was annoying to do */
    .header-image {
        margin-bottom: 10px;
        width: 100%; 
        max-width: 300px; 
        margin: auto; 
    }

    .header-button {
        display: none; /* Hide the desktop button in the header */
    }
/* only shows on mobile */
    .header-button-mobile { 
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: 100%;
    }
}