<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/style.css" rel="stylesheet">
    <link href="../../public/css/output.css" rel="stylesheet">
    <title>Reel Roster</title>
</head>
<body class="bg-zinc-700">
    <div class="ReelRoster">
        <div class="wrapper">
            <header class="bg-color">
                <div class="header-content">
                    <img class="w-64" src="../../public/images/RRmockup1.png" alt="Reel Roster">
                    <div class="header-buttons">
                        <button class="header-button mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Sign Up</button>
                        <button class="header-button mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Login</button>
                    </div>
                </div>
            </header>
            <div>
                <ul>
                    
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
