<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/style.css" rel="stylesheet">
    <link href="../../public/css/output.css" rel="stylesheet">
    <title>Reel Roster</title>
</head>
<body class="bg-zinc-700">
    <div class="ReelRoster">
        <div class="wrapper">
            <header class="bg-color">
                <div class="header-content">
                    <div class="header-image">
                        <img class="w-64 " src="../../public/images/RRmockup1.png" alt="Reel Roster">
                    </div>
                    <div class="header-button">
                        <a href="#login" class="header-button mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Sign Up/Login</a>
                    </div>
                </div>
            </header>
            <div class="below-header">
                <div class="Home button">
                    <a href="#home" class="mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Home</a>
                </div>
                <div class="My Roster">
                    <a href="#roster" class=" mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">My Roster</a>
                </div>
                <div class="search-bar-container">
                    <form class="max-w-md mx-auto">   
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-rose-500 focus:border-rose-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-rose-500 dark:focus:border-rose-500" placeholder="Search Movies, Creators..." required />
                            <button type="submit" class="text-black absolute end-2.5 bottom-2.5 bg-rose-500 hover:bg-rose-200 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-rose-500 dark:hover:bg-rose-200 dark:focus:ring-rose-200">Search</button>
                        </div>
                    </form>
                </div>
                <div class="mobile-container">
                    <div class="header-button-mobile">
                        <a href="#login" class="mx-2 bg-rose-500 hover:bg-rose-200 text-black font-bold py-2 px-4 rounded">Sign Up/Login</a>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>
